.Menu{
    background: rgb(1, 34, 60);    
    margin-left:290px;
    position: absolute;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    
    
    
}
.btn_nav{
    height: 50px;
    width: 50px;
    background: rgb(1, 34, 60);
    
}
